/* Desktop 1440 x 900 */
@media (width < 1441px){
    .page1-container{
        gap:50px;
        padding: 0px;
        width: 90%;
    }
    #page1-hand{
        right: 200px;
    }
    #page1-box-3{
        left:150px;
    }
    .checklist{
        scale: 100%;
    }
    .page3 .page3-container{
        height:950px;
    }
    .page3 .page3-container .page3-box{
        margin-top: 80px;
        height:450px;
        width:360px
    }
    .page3 .page3-container .page3-box .page3-content{
        gap:30px;
        padding: 0 10px;
    }
    .page3 .page3-container .page3-box .page3-content h1{
        font-size: 32px;
    }
    .page3 .page3-container .page3-box .page3-content h2{
        font-size: 20px;
    }
    .page3 .page3-container .page3-box .page3-content .result-message h3{
        font-size: 20px;
    }
    .page3 .page3-container .page3-box .page3-content button{
        width: 160px;
        font-size: 18px;
    }
    .page3 .page3-container .page3-box  img#stamp{
        width: 110px;
        right: 10px;
        top:10px;
    }
    .page3 .page3-container img#frence1{
        left:-210px;
        width:650px;
    }
    .page3 .page3-container img#frence2{
        right:-220px;
        width:650px;
    }
    .page3 .page3-container img#workman{
        width:800px;
        right:-500px;
    }
    .page3 .page3-container img#result2{
        width: 250px;
        left:-50px;
    }
    .page3 .page3-container img.light{
        bottom: 180px;
    }
    .page3 .page3-container img.light:nth-child(1){
        left:-80px;
    }
    .page3 .page3-container img.light:nth-child(2){
        left:320px;
    }
    .page3 .page3-container img.light:nth-child(3){
        left:600px;
    }
    .page3 .page3-container img.light:nth-child(4){
        left:1000px;
    }
    .page3 .page3-container .page3-box .page3-content .result-box{
        height: 10%;
    }


/* mobile 390 x 844 iphone14*/

@media (width < 391px){

    /* page1 */
    #page1-hand{
        display: none;
    }
    .page1-container{
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: auto;
        width: 100%;
        height: 100%;

    }
    #page1-box-1 img{
        position: relative;
        width: 700px;
        right: 270px;
        transform: rotateZ(-20deg);
    }
    #page1-box-2 img{
        width: 300px;
    }

    .page1-text{
        font-size: 24px;
    }
    #page1-text-1{
        position: relative;
        left: 100px;
        text-wrap: nowrap;
        top: 30px;
        /* font-size: 15px; */
    }

    .page1-text2 {
        display: flex;
        position: relative;
        justify-content: end;
        align-self: center;
        top: 90px;
    }
    .page1-text3 {
        position: relative;
        display: flex;
        justify-content: end;
        align-self: first baseline;
        text-wrap: nowrap;
        left: 30px;
        top: 60px;
    }

    #page1-box-3{
        width: 400px;
        height: 100%;
        position: relative;
        background-repeat: no-repeat;
        background-size: contain;
        left: 20px;
    }
    .page1-img-clipboard-logo{
        margin: 25% 0 0 7%;
        width: 40%;
    }
    .page1-img-clipboard-checklist{
        width: 25%;
        margin: 0;
        position: relative;
        left: -25px;
        transform: rotate(-15deg);
    }
    .page1-clipboard-text p{
        position: relative;
        font-size: 4vw;
        text-wrap: wrap;
        left: -10px;
    }
    .page1-clipboard-submit div {
        font-size: 4vw;
    }
    
    /* page2 */
    .checklist{
        scale: 90%;
    }

    /* page3 */
    .page3 .page3-container{
        width: 100%;
    }
    .page3 .page3-container .page3-box{
        margin-top: 1rem;
        scale: 70%;
    }

    #result2{
        display: none;
    }
    #frence1{
        display: none;
    }
    .page3 .page3-container img#frence2{
        display: block;
        width: 570px;
        transform: translateX(-50%);
        left:50%;
    }
    .page3 .page3-container img#frence3{
        display: block;
        width: 620px;
        bottom:120px;
        transform: translateX(-50%);
        left:50%;
    }
    .page3 .page3-container img#workman{
        display:none
    }
    .page3 .page3-container img.light{
        bottom: 140px;
    }
    .page3 .page3-container img.light:nth-child(1){
        transform: translateX(-10%);
        left:50%;

    }
    .page3 .page3-container img.light:nth-child(2){
        transform: translateX(-90%);
        left:50%;
    }
    .page3 .page3-container img.light:nth-child(3){
        display: none;
    }
    .page3 .page3-container img.light:nth-child(4){
        display: none;
    }
}
