/* mobile 390 x 844 iphone14*/

@media (width < 391px){
    .checklist{
        scale: 90%;
    }
    .page3 .page3-container{
        width: 100%;
    }
    .page3 .page3-container .page3-box{
        margin-top: 1rem;
        scale: 70%;
    }

    #result2{
        display: none;
    }
    #frence1{
        display: none;
    }
    .page3 .page3-container img#frence2{
        display: block;
        width: 570px;
        transform: translateX(-50%);
        left:50%;
    }

}
