
/* Desktop 1440 x 900 */
@media (1367px <= width < 1441px ){

}
/* Desktop 1366 x 768 */
@media (1025px <= width < 1367px){

}
/* mobile width = 1025  */
@media (426px <= width < 1025px){

}
/* mobile 390 x 844 iphone14*/
@media (361px <= width <  426px){
    .page1 .page1_bottom_child #smoke_1{
        top: 500px;
        left: -50px;
    }
    .page1 .page1_bottom_child #smoke_2{
        top: 700px;
        left: -500px;
        z-index: 5;
    }
    .page1 .page1_bottom_child #crane_1{
        left: -180px;
    }
    .page1 .page1_bottom_child #building_1{
        left: -400px;
        top: 200px;
    }
    .page1 .page1_bottom_child #building_3{
        left: -300px;
    }
    .page1 .page1_bottom_child #building_4{
        left: 175px;
        z-index: 4;
    }
    .page1 .page1_bottom_child #SmokeSkull{
        position: relative;
        top: 100px;
        left:-375px;
        z-index: 5;
        height: 800px;
    }
    .page1 .page1_bottom_child .text_Header{
        left:73px;
        bottom: 370px;
    }
    .page1 .page1_bottom_child .text_Container{
        bottom: 150px;
        left: 73px;
        font-size: 15px;
    }
    .page1 .page1_bottom_child .text_Container .text_Detail_1{
        margin-bottom: 75px;
    }
    .page1 .page1_bottom_child #construction_shadow{
        position: absolute;
        bottom: 0px;
        z-index: 9;
        width: 100%;
    }
}
@media (361px <= width < 391px){

}
@media (width < 361px){

}

