*{
    margin: 0;
}
.container{
    width: 100%;
    height: 100vh;
    border: 1px solid red;
    position: fixed;
}
.page1{
    background-image: url("./asset/Section3/desk_BG.png");
    background-size: cover;
    height: 500px;
}
.page2{
    background-image: url("./asset/Section3/checklist_BG.png");
    background-color: black;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;

}
.page3{
    background-image: url("./asset/Section3/checklist_result BG.png");
    background-size: cover;
    height: 500px;
}

.checklistBox{
    border: 5px solid green;
    margin: 0;
    justify-content: center;
    align-items: center;
    display: flex;
    box-sizing: border-box;
    padding-top: 50px;
    padding-bottom: 50px;
}
.checklist{
    border: 2px solid blue;
    scale: 75%;
    
}
.checklist-content-background{
    margin: 0;
    box-sizing: border-box;
    padding: 80px 50px 50px 50px;
    position: relative;
    
}
.checklist-content{
    border: 2px solid red;
    /* height: 100%; */
    width: 520px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 200px 1fr;
    position: absolute;
    top: calc(50% - 230px);
    left: calc(50% - 260px);
}
.content-child{
    border: 2px solid black;
}
.content-head{

}
/* .content-form{
    display: grid;
    grid-template-columns: 50px auto;
} */
.content-img{
    display: flex;
    justify-content: end;
    align-items: center;
    padding:0rem 0rem 0rem 0rem;
}
.text-img{
    margin: 2rem;
    position: absolute;
    justify-content: left;
}
.checkbox{
    display: flex;
    justify-content: center;
    padding-top: 20px;
}
.label{
    box-sizing: border-box;
    padding: 20px;
}
.box{
    border: 3px solid black;
    height: 20px;
    width: 20px;
}
.nextpage-container{
    background-color: red;
    margin: 0;
    width: 50px;
    height: 50px;
    position: relative;
    left: 80%;
    bottom: 15px;
}
#checkbox-form{
    height: 100%;
    border: 2px solid green;
    box-sizing: border-box;
    padding: 20px;
    display: grid;
    grid-template-columns: 50px 1fr;
    gap: 20px;
}
.checkbox-0 {
    /* display: flex; */
    /* grid-column: 1/5; */
}
.checkbox-1 {
    /* grid-column: 4/5; */
}
.checkbox-0-1 {
    /* flex: 20%; */
    text-align: center;
}
.checkbox-0-2 {
    /* flex: 80%; */
    font-size: 20px;
}
input.checkbox-input {
    width: 40px;
    height: 40px;
    cursor: pointer;
}
